ENV=DEV

DATABASE_URL=
SECRET_KEY=


DB_INIT_STRATEGY=create_all
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=


AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_REGION = 
AWS_S3_ENDPOINT_URL = 

AWS_SQS_ENDPOINT_URL=
TOPIC_PICKUP_ASSIGNMENT = "pickup_assignment"
TOPIC_DELIVERY_ASSIGNMENT = "delivery_assignment"